#gameBoard {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 50px;
    border: 1px solid black;
    cursor: pointer;
}